{% extends 'base.html.twig' %}

{% block title %}Services - Health & Fitness{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4 text-center">Nos Services</h1>
    
    <div class="row">
        {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ service.title }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                    <p class="h5 text-success">{{ service.price }} DT</p>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}" class="btn btn-primary">Voir détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}